<p><div class="Bigdiv">
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@chCakeImage%> alt=""></li>
        <li><%=@chCakeName%></li>
        <li><%=@chCakeDisc%></li>
        <li><%=@chCakePrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@chesCakeImage%> alt=""></li>
        <li><%=@chesCakeName%></li>
        <li><%=@chesCakeDisc%></li>
        <li><%=@chesCakePrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@crmCakeImage%> alt=""></li>
        <li><%=@crmCakeName%></li>
        <li><%=@crmCakeDisc%></li>
        <li><%=@crmCakePrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@TeraImage%> alt=""></li>
        <li><%=@TeraName%></li>
        <li><%=@TeraDisc%></li>
        <li><%=@TeraPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@FrtCakeImage%> alt=""></li>
        <li><%=@FrtCakeName%></li>
        <li><%=@FrtCakeDisc%></li>
        <li><%=@FrtCakePrice%></li>
      </ul>
    </div>
  </div>
</p>
