<p><div class="Bigdiv3">
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@SugarImage%> alt=""></li>
        <li><%=@SugarName%></li>
        <li><%=@SugarDisc%></li>
        <li><%=@SugarPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@BrowniesImage%> alt=""></li>
        <li><%=@BrowniesName%></li>
        <li><%=@BrowniesDisc%></li>
        <li><%=@BrowniesPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@PumpkinImage%> alt=""></li>
        <li><%=@PumpkinName%></li>
        <li><%=@PumpkinDisc%></li>
        <li><%=@PumpkinPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@MacedonianImage%> alt=""></li>
        <li><%=@MacedonianName%></li>
        <li><%=@MacedonianDisc%></li>
        <li><%=@MacedonianPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@OatmealImage%> alt=""></li>
        <li><%=@OatmealName%></li>
        <li><%=@OatmealDisc%></li>
        <li><%=@OatmealPrice%></li>
      </ul>
    </div>
  </div>
</p>
