<p><div class="Bigdiv2">
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@branImage%> alt=""></li>
        <li><%=@branName%></li>
        <li><%=@branDisc%></li>
        <li><%=@branPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@chocolateChipImage%> alt=""></li>
        <li><%=@chocolateChipName%></li>
        <li><%=@chocolateChipDisc%></li>
        <li><%=@chocolateChipPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@BananaNutImage%> alt=""></li>
        <li><%=@BananaNutName%></li>
        <li><%=@BananaNutDisc%></li>
        <li><%=@BananaNutPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@blueBerryImage%> alt=""></li>
        <li><%=@blueBerryName%></li>
        <li><%=@blueBerryDisc%></li>
        <li><%=@blueBerryPrice%></li>
      </ul>
    </div>
    <div class="smalldiv">
      <ul class = "list">
        <li><img src= <%=@cornImage%> alt=""></li>
        <li><%=@cornName%></li>
        <li><%=@cornDisc%></li>
        <li><%=@cornPrice%></li>
      </ul>
    </div>
  </div>
</p>
